<br />
<div class="col-xs-10 col-xs-offset-1">
	<h1>SIMBY</h1>
	<% if user_signed_in? %>
		<% @listings.each do |listing| %>
			<div class="col-sm-3">
				<%= link_to listing_path(listing), :class => "listing-gallery" do %>
					<h4><%= listing.title %></h4>
					<%= image_tag listing.photo, :class => "img-responsive  imgLiquidFill imgLiquid" %>
				<% end %>
			</div>
		<% end %>
	<% end %>
</div>
