<br />
<div class="col-xs-10 col-xs-offset-1">
	<div class="col-xs-4 user-prof-main-row">
		<%= image_tag @user.prof_pic %>
	</div>
	<div class="col-xs-8 user-prof-main-row">
		<h1><%= @user.get_name %></h1>
	</div>
</div>