.navbar.navbar-inverse {
	background: url('/assets/argyle.png'); 
	border-radius: 0; 
	box-shadow: 0px 3px 5px #888888;
}

.navbar-form .form-control {
	border-radius: 14px 0 0 14px; 
}

.navbar-prof-pic {
	max-height: 1.5em;  

}

body {
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	background: url('/assets/white_wall_hash.png')
}


#sign-in-panel {
	max-width: 300px; 
	margin: 0 auto; 
	margin-top: 100px; 
}

.sign-in-input {
	height: 50px; 
	padding: 15px 15px; 
	margin-bottom: 5px; 
}

.sign-in-header {
	margin: 10px auto; 
	text-align: center; 
}

h2.sign-in-header {
	margin-bottom: 30px; 
}

.sign-in-button {
	padding: 15px;
	width: 100%;  
}

#category-input {
	width: 15em; 
}

#price-input {
	width: 7em; 
}

.block_radio_button_collection {
	display: block; 
}

.new-listing-input {
	margin-bottom: 10px; 
}

.clr {
  clear:both;
}

#submit-listing-button {
	padding: 15px;
	margin-top: 2em;  
	width: 100%; 
	border-radius: 0px; 
	box-shadow: 6px 4px 3px #888888;
}

#new-listing-dropzone {
	width: 100%;
}

.listing-description {
	padding: 10px 5px; 
	margin-top: 3em; 
}

.listing-seller-info {
	margin-top: 5em; 
	margin-bottom: 5em; 
}

.btn-listing-buy {
	padding: 15px; 
	width: 100%
}

.listing-gallery:hover {
	text-decoration: none; 
	color: black; 
}

a {
	color: black; 
}