.navbar.navbar-inverse {
	background: url('/assets/argyle.png'); 
	border-radius: 0; 
	box-shadow: 0px 3px 5px #888888;
}

.navbar-form .form-control {
	border-radius: 14px 0 0 14px; 
}

body {
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	background: url('/assets/white_wall_hash.png')
}

